<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">sChOOl Portal</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" type="submit" (click)="login()">Login</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" type="submit" (click)="register()">Signup</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
  </nav>
