<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="imgs" src="https://i.postimg.cc/RVGZCLcL/h4.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="imgs" src="https://i.postimg.cc/W4GKjXZ2/h5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="imgs" src="https://i.postimg.cc/zGm0BT83/h6.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>
  <h2 id="h2"align="center"><I>OUR SPECIALITIES</I></h2><br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/bJxfdq22/L1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><h4 id="h2"align="center"><I>LAB FACILITIES</I></h4><br></h5>
          <p class="card-text"> The school has distinct and separate science laboratories for practical sessions in Physics, Chemistry, Home Science, and Biology in accordance with the CBSE curriculum.

            The laboratories are spacious and offer modern and excellent equipment where our students are encouraged to use their analytical and creative skills through research and experimentation.
            
            Apart from the Middle and Secondary School, students of the Primary School also have regular laboratory sessions in their curriculum.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/tgVYSnLQ/l2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <h5 class="card-title"><h4 id="h2"align="center"><I>LIBRARY FACILITIES</I></h4><br></h5></h5>
          <p class="card-text"> It is a large hall with three large windows on three sides. The portraits of great Indian leaders are placed on the walls such as Mahatma Gandhi, Jawaharlal Nehru, etc. Some scenery portraits are also stuck on the wall. Nearly ten large wooden tables are kept in the room along with five chairs for each table. A wonderful portrait of the Great Explorer Columbus who sailed amid of the seas exploring the route to India is also placed on the wall on top of the window. Two ceiling fans are fixed on the top. A large wooden shelf is placed near the entrance of the door. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/SNFFC2GY/C1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><h5 class="card-title"> <h5 class="card-title"><h4 id="h2"align="center"><I>CANTEEN FACILITIES</I></h4><br></h5></h5></h5>
          <p class="card-text">School canteen facility aims to provide children of working parents to buy nutritious and healthy food at competitive prices during the school day. Meals are either cooked on the premises or bought from approved restaurants and food outlets. Pupils who cannot take full breakfast from home may bring some form of healthy ‘snack’ with them for break time. Pupils can also buy snacks items and fruits from the snacks counter.
        </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/ZnkbWfRC/S1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><h5 class="card-title"><h5 class="card-title"> <h5 class="card-title"><h4 id="h2"align="center"><I>TRANSPORTATION FACILITIES</I></h4><br></h5></h5></h5></h5>
          <p class="card-text">he Lnct World School is providing a completely facilitated bus services covering the entire city of Bhopal with different stops at regular and punctual time intervals for picking up students and teachers.

            The School transportation is equipped with the following facilities lay down by CBSE norms and RTO department.
            
            School buses are spacious with a required capacity to accommodate students.
            Every bus has a teacher to ensure proper discipline & safety of students.
            </p>
        </div>
      </div>
    </div>
  </div>
